@page "/counter"
@using Blazor.Wasm.UI.Models

<CascadingValue Value="ButtonClass">
    <ChildCounter @ref="childCounter"></ChildCounter>
</CascadingValue>

<button type="button" class="btn @ThemeInfo.SubmitButtonClass" @onclick="HandleClick">Count</button>

@code {
    [CascadingParameter(Name="Counter")]
    public ThemeInfo ThemeInfo { get; set; }

    public string ButtonClass => "btn-success";

    ChildCounter childCounter { get; set; }

    [Parameter]
    public int currentCount { get; set; } = 0;

    [Inject]
    private NavigationManager navigationManager{ get; set; }

    void GoToHome()
    {
        this.navigationManager.NavigateTo("/");
    }

    private void HandleClick()
    {
        childCounter.IncrementCount();
    }

    
   
}
