@page "/counter"

<ChildCounter @ref="childCounter"></ChildCounter>

 <button type="button" class="btn btn-primary" @onclick="HandleClick" >Count</button>

@code {

    ChildCounter childCounter { get; set; }

    [Parameter]
    public int currentCount { get; set; } = 0;

    [Inject]
    private NavigationManager navigationManager{ get; set; }

    void GoToHome()
    {
        this.navigationManager.NavigateTo("/");
    }

    private void HandleClick()
    {
        childCounter.IncrementCount();
    }

    
   
}
